
<div class="record-view-wrapper">
  
  <h1>Pedido en proceso</h1>

  <p>
    (Espera mientras verificamos tu orden)
  </p>

  {{!-- <h2>{{model.status}}</h2>

  <a {{action 'updateOrder'}}>
    <h2>Refresh</h2>
  </a>
  <a {{action 'forceReady'}}>
    <h2>Force ready</h2>
  </a> --}}

  <a {{action 'cancelOrder' model}} class='btn-stop-order'>
    Cancelar pedido
  </a>

</div>

