
<div class="record-view-wrapper">
  <h1>Pedido listo</h1>

  <p>
    Ya puedes pasar a recogerlo
  </p>

  <div class="bottom-pickup">
    <p>
      Número de pedido: <br>
      #345
    </p>
    <div class="btns-pickup">
      <a {{action 'cancelOrder'}}>
        Estoy cerca
      </a>
      <a {{action 'cancelOrder'}}>
        Llegué
      </a>
    </div>
  </div>

</div>
