

<div class="record-view-wrapper">
  <h1>Pedido en proceso</h1>

  <p>
    (Espera mientras verificamos tu orden)
  </p>

  {{#link-to 'order' class='btn-stop-order'}}
    Cancelar pedido
  {{/link-to}}

  {{#unless isRecording}}
  {{!-- <a class='btn-record btn-record-pending'></a> --}}
{{!--   {{else}}
  <a class='btn-record btn-record-pending' {{action 'stop'}}>
    <div class="spinner"></div>
  </a> --}}
  {{/unless}}
{{!--   <br>
  <button {{action 'play'}}>Play</button>
  <button {{action 'upload'}}>Upload</button> --}}

</div>

