@import 'vendor/bootstrap-sass-official/assets/stylesheets/bootstrap';

* {
  font-family: sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

html, body, body > .ember-view, body > .ember-view, body > .ember-view > .ember-view, body > .ember-view > .ember-view > .ember-view {
  height: 100%;
}

.record-view-wrapper {
  text-align: center;
  height: 100%;
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;

  display: inline-block;
  background-image: url('../images/bg-start.jpg');
  background-size: cover;
  background-position: center;

  color: white;

  h1 {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 70px;
  }

  p {
    font-style: italic;
    margin: 70px 30px;
    font-size: 19px;
  }

  .btn-record {
    background-image: url('../images/btn-record.png');
    background-size: cover;
    background-position: center;
    display: inline-block;
    width: 100px;
    height: 100px;
    &.btn-record-touch {
      background-image: url('../images/btn-record-touch.png');
    }
    &.btn-record-pending {
      background-image: url('../images/btn-record-pending.png');
    }
  }

  .btn-cancel-order {
    $bg-color: red;
    width: 100%;
    background: $bg-color;
    display: block;
    line-height: 55px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 21px;
    position: absolute;
    bottom: 0;
    &:hover, &:active {
      background-color: lighten($bg-color, 15%);
      text-decoration: none;
    }
  }

}

.spinner {
  width: 80px;
  height: 80px;
  margin: 0px auto;
  top: 11px;
  position: relative;
  background-color: white;

  border-radius: 100%;  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}
